# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# by default ignore everything except the jar file
**/*
!*.jar
!*.war
<%_ if (prodDatabaseType === 'cassandra') { _%>
!cassandra/
<%_ } _%>
<%_ if (prodDatabaseType === 'couchbase') { _%>
!couchbase/scripts/configure-node.sh
<%_ } _%>
